*{
    padding:0;
    margin :0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height:100vh;
    font-family: 'Quicksand', sans-serif;
}

#logo {
	max-width: 100%;
    height: auto;
}

h2{
    position: relative;
    padding-bottom: 10px; 
    margin-bottom: 10px;
    text-align: center;
}

h2:after {
    display: block;
    height: 2px;
    background-color: #fff;
    content: " ";
    width: 300px;
    margin: 0 auto;
    margin-top: 10px;
}

p{
    line-height: 2em;
    text-align: center;
}

.btn{
    width:100%;
    padding: 0.5rem 1rem;
    font-size: 1.1rem;
    background-color: #213dcd;
    cursor: pointer;
    outline: none;
    border:none;
    margin-bottom: 15px;
    transition: .3s;
    color: #fff;
}
.btn:hover{
    background-color: #213dcd;
}

.navbar-toggler { border-color: #213dcd; }

img#side{
    height: 70%;
    margin-top: 0 !important;
    margin-left: auto;
    top: -10%;
    margin-right: auto;
    display: block;
}

/* ----- HEADINGS ----- */
h1,
h2,
h3,
h6 {
    font-weight: 300;
    text-transform: uppercase;
}

/* ----- ICONS ----- */

nav li {
  display: inline-block;
  margin-left: 40px;
}

.navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
  color: #000;
  /* border-bottom: 2px solid yellow; */
}

.navbar-nav li:last-child{
    margin-right: 30px;
  }

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus {
	color: #213dcd !important;
}

.btn-primary {
    background-color : #213DCD !important;
    border-radius: 0px;
  }

.navbar-light{
  background-color: #fff;
}

#logo {
    height: 80px;
    width: auto;
    /* float: left; */
    margin-top: 5px;
    margin-left: 25px;
    padding: auto;
  
  }

  #menu {
	width: 40%;
	margin-right: 10px;
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	align-self: center;
}

#menu li a {
	text-align: center;
	text-decoration: none;
	color: white;
	margin: 0 15px;
	padding: 5px;
	font-weight: bold;
}

#menu li a:hover {
	color: #213dcd;
}


.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke=' #008000 ' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
.navbar-toggler {
    border-color: #eef1ee;
}

.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;
}

.main-header{
    background-color: #000;
    margin-bottom: 20px;
    color: #fff;
    padding: 70px;
}

.content-box{
    margin: auto;
    position: relative;
    float: left;
    display: block;
    text-align: center;
    box-sizing: border-box;
}

.subcontent{
    position: relative;
    margin: auto;
}


.mission-vison{
    margin: auto;
    float: left;
    display: block;
    box-sizing: border-box;
}
 h1{
     margin-top: 500px;
     margin-bottom: 500px;
     text-align: center;
     font-weight: bolder;
     font-size: 20px;
 }
#menu {
	width: 40%;
	margin-right: 10px;
	list-style-type: none;
	display: flex;
	justify-content: flex-end;
	align-self: center;
}

#menu li a {
	text-align: center;
	text-decoration: none;
	color: white;
	margin: 0 15px;
	padding: 5px;
	font-weight: bold;
}

* {
    font-family: Lato;
    font-style: normal;
}

footer {
    background: rgba(33, 60, 220, 0.1);
    margin: auto;
    overflow: hidden;
    padding: 15px;
}
.footer_elements,
.footer_brand {
    display:  flex;
    flex-direction: column;
    padding-inline-start:  0px;
    align-items: center;
    margin: 0 0 0 0;

}
.footer_elements {
    width: auto;
}
.footer_elements li {

    font-weight:  bold;
    font-size: 18px;
    display: inline-block;
    padding:  5px;      
    width: fit-content;
}
.footer_elements li  a {
    text-decoration: none;
    color: black;
}
.footer_brand  img {
    height:  80px;
    width: 100px;
    vertical-align: middle;

}

@media (max-width:600px){
    .content-box{
    float:none;
    text-align:center;
    display:block}
    }

@media all and (max-width:1000px){
    img#main{
        display: none;
    }
    .footer-links ul{
        flex-wrap: wrap;
    }
    .footer-links li{
        flex: 1 1 100%;
    }
    .footer-links .icon-area{
        flex: 1 1 10%;
    }

@media screen  and (min-width: 600px){
    .footer_brand {
        float: left;
    }
    .footer_brand {
        left: 223px;
        margin: 0 0 0 5vw ;
    }

    
    .footer_elements li { 
        margin: 0 0 0 20px ;
    }
    .footer_elements{
        margin:  15px 0 0 0;
        /* line-height: 60px; */
        vertical-align: middle;
        flex-direction:  row;
        padding-inline-start:  0px;
        justify-content: flex-end;
    }
}