#lgg{
    display:none;
}
*{
    margin:0;
}
.navlink{
    text-decoration-line: none;
    color: black;
    
}
body{
    background-color: #E9EDFA;
}
.center-main{
    background-color: white;
    float:right;
    margin-top:0px;
    width:78%;
    height:100%;
}
#nav{
    float:left;
    background-color:#E9EDFA;
    width:18%;
    height:130%;
}
ul{
    list-style-type: none;
    line-height: 200%;
    margin-top:35%;
    font-weight:500;
}
.addpriul{
    border: 1px solid blue;
    padding: 2% 10% 2% 2%;
    background-color: #213DCD;
    color:white;
}
.sitename{
    font-size:22px;
    font-weight:bold;
    color:#000000;
}
.poli{
    color:#213DCD
}
.forms{
    margin-top:3%;
    margin-left:3%;
    margin-right:4%;
    line-height:230%;
}
.heavy-weight{
    font-weight: bold;
    color:#000000;
}
.label{
    font-weight: lighter;
    color:#c4c4c4
}
#field2{
    margin-top:5%;
    padding-left:4%;
}
#field1{
    padding-left:4%;
}
.bluebutton{
    color:white;
    width:10%;
    height:4%;
    background-color:#213DCD;
    margin-top:2%;
    margin-bottom:2%;
}
.rightlink{
    margin-left:70%;
}
.profimg{
    margin-left:2%;
    border:1px solid lightgray;
    border-radius: 50%;
    padding:0.5%;
}
a{
    color:#213DCD;
}
.left-margin-1{
    margin-left: 35%;
}
.left-margin-2{
    margin-left: 32.5%;
}
.left-margin-3{
    margin-left: 15%;
}
.input-field{
    width:25%
}
@media screen and (max-width: 1200px){
    a{
        font-size:9px;
    }
        #nav{
            width:30%;
            font-size:8px;
        }
        ul{
            line-height:250%;
           
        }
        ul li{
            margin-left: 0px;
            
        }
        .center-main{
        margin-top:0px;
        width:70%;
        }
        .bluebutton{
        width:25%;
        height:4%;
    }
    .addpriul{
        border: 0.1px;
        padding: 0;
    }
    .rightlink{
        margin-left:18%;
        font-size:10px;
    }
    .rightlink2{
        margin-left:16%;
    }
    .left-margin-2{
        margin-left: 28%;
    }
    .input-field{
        width:35%;
        font-size:8.5px;
    }
    .sitename{
        font-size:18px;
    }
    h3{
        font-size:18px;
    }
    h4{
        font-size:16px;
    }
    .forms{
        margin-left:0px;
        margin-right:0px;
    }
    .label{
        font-size:12px;
    }
}