body {
    font-family:'Source Sans Pro','Arial','Helvetica',sans-serif;
    margin:0;
    color:black;
    background-color:#ecf0f1;
}
.logo{margin-left: -2%;}
.navbar-nav{margin-right: -6%;}
@media only screen and (max-width: 768){
	.navbar-nav{margin-left: 4%;}
}

h2,h4, a {
    font-family:'Asap','Arial','Helvetica',sans-serif;
    font-weight:700;
    line-height:normal;
    margin:0 0 10px;color:#7f7f7f;
    word-wrap:break-word;
    text-rendering:optimizeLegibility;
    -webkit-font-smoothing:antialiased;
    color: black;
}
a:link {
    color: #8c8c8c;
}
a:visited {
    color:blueviolet;
}
p{
    font-size:20px;
    text-transform:uppercase;
    color:black;
    border-bottom:4px solid #fff;
    font-family:monospace;
}

    .side-segment h3:after,.side-segment h2:after {
	background-color: #535a6b;
}

footer {
    background: rgba(33, 60, 220, 0.1);
    margin: auto;
    overflow: hidden;
    padding: 15px;
}
.footer_elements,
.footer_brand {
    display:  flex;
    flex-direction: column;
    padding-inline-start:  0px;
    align-items: center;
    margin: 0 0 0 0;

}
.footer_elements {
    width: auto;
}
.footer_elements li {

    font-weight:  bold;
    font-size: 18px;
    display: inline-block;
    padding:  5px;      
    width: fit-content;
}
.footer_elements li  a {
    text-decoration: none;
    color: black;
}
.footer_brand  img {
    height:  80px;
    width: 100px;
    vertical-align: middle;

}
@media screen  and (min-width: 600px){
    .footer_brand {
                        float: left;
    }
    .footer_brand {
                        left: 223px;
                        margin: 0 0 0 5vw ;
    }

    
    .footer_elements li { 
                        margin: 0 0 0 20px ;
    }
    .footer_elements{
                        margin:  15px 0 0 0;
                        /* line-height: 60px; */
                        vertical-align: middle;
                        flex-direction:  row;
                        padding-inline-start:  0px;
                        justify-content: flex-end;
    }

}

footer {
    background: rgba(33, 60, 220, 0.1);
    margin: auto;
    overflow: hidden;
    padding: 15px;
}
.footer_elements,
.footer_brand {
    display:  flex;
    flex-direction: column;
    padding-inline-start:  0px;
    align-items: center;
    margin: 0 0 0 0;

}
.footer_elements {
    width: auto;
}
.footer_elements li {

    font-weight:  bold;
    font-size: 18px;
    display: inline-block;
    padding:  5px;      
    width: fit-content;
}
.footer_elements li  a {
    text-decoration: none;
    color: black;
}
.footer_brand  img {
    height:  80px;
    width: 100px;
    vertical-align: middle;

}
@media screen  and (min-width: 600px){
    .footer_brand {
                        float: left;
    }
    .footer_brand {
                        left: 223px;
                        margin: 0 0 0 5vw ;
    }


    .footer_elements li { 
                        margin: 0 0 0 20px ;
    }
    .footer_elements{
                        margin:  15px 0 0 0;
                        /* line-height: 60px; */
                        vertical-align: middle;
                        flex-direction:  row;
                        padding-inline-start:  0px;
                        justify-content: flex-end;
    }

}
