/* MOBILE FIRST */

* {
                    font-family: Lato;
                    font-style: normal;
}

footer {
                    background: rgba(33, 60, 220, 0.1);
                    margin: auto;
                    overflow: hidden;
                    padding: 15px;
}
.footer_elements,
.footer_brand {
                    display:  flex;
                    flex-direction: column;
                    padding-inline-start:  0px;
                    align-items: center;
                    margin: 0 0 0 0;

}
.footer_elements {
                    width: auto;
}
.footer_elements li {

                    font-weight:  bold;
                    font-size: 18px;
                    display: inline-block;
                    padding:  5px;      
                    width: fit-content;
}
.footer_elements li  a {
                    text-decoration: none;
                    color: black;
}
.footer_brand  img {
                    height:  80px;
                    width: 100px;
                    vertical-align: middle;

}
@media screen  and (min-width: 600px){
                    .footer_brand {
                                        float: left;
                    }
                    .footer_brand {
                                        left: 223px;
                                        margin: 0 0 0 5vw ;
                    }

                    
                    .footer_elements li { 
                                        margin: 0 0 0 20px ;
                    }
                    .footer_elements{
                                        margin:  15px 0 0 0;
                                        /* line-height: 60px; */
                                        vertical-align: middle;
                                        flex-direction:  row;
                                        padding-inline-start:  0px;
                                        justify-content: flex-end;
                    }

}
