* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}


body{
    font-family: Lato;
    font-size:16px;
   
}
.image img{
    width: 100%;
}
/* .page-footer{
    background-color: rgba(33, 60, 220, 0.1);
    border:1px solid rgba(33, 60, 220, 0.1);
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-weight:bold;
    
   
} */
/* .page-footer img, .navbar img{
   height: 80px;
}
.col-md-8{
    line-height: 3rem;
}
.col-md-4{
    background-color: rgba(33, 60, 220, 0.08);
    border:1px solid rgba(33, 60, 220, 0.08);
}
.mag img, .mag p{
    display: inline;
    height:20px;
}
.imag{
    line-height: 3rem;
}
.imag img{
    height:20px; 
 } */

/* footer */
footer {
    background: rgba(33, 60, 220, 0.1);
}



.footer-list li  a {
    text-decoration: none;
    color: black;
    text-align: center;
}

.footer-list li{
   margin: 15px;
    
}

.footer-list {
    list-style: none;
    text-align: center;
    font-weight: bold;
    display: flex;
    height: 100%;
    justify-content: space-evenly;
    align-items: center;
    position: absolute;
    right: 5%;
    
}

.footer_brand img{
    height: 15vh;
}



/* media queries */
@media screen and (max-width: 768px){
    .footer-list li {
        font-weight:  bold;
        font-size: 13px;       
    }
    
}

@media (min-width: 320px) and (max-width: 767px) {
    footer {
        height: 200px;
    }

    .footer-list{
        display: flex;
        flex-direction: column;
        right: 25%;
        transform: translate(-20%, 0%);
        height: auto;
        text-align: center;       
    }

    .footer-nav{
        width: 100%;
        
    }

    .footer-list li{
        margin: 10px 0px;
         
     }
}