 #reset-form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
 }

 .btn-blue {
  background-color: #6D9BF1 ;
 border: 1px solid #213dcd;
 }

 .btn-primary:hover {
  background-color: rgb(105, 145, 219) !important;
 }

 #reset-form #resetpassword {
   height: 55px;
   margin-bottom: 25px;
   border: 1px solid #213dcd;
   border-radius: 0;
}

 #reset-form #confirmpassword {
   height: 55px;
   margin-bottom: 25px;
   border: 1px solid #213dcd;
   border-radius: 0;
}

 @media (max-width: 585px) {
  .form-container {
   width: 99%;
   margin-left: auto;
   margin-right: auto;
  }

  #reset-form {
   width: 99%;
  }
 }

 @media (max-width: 450px) {
.heading {
 font-size: 35px;
}
 }