 #reset-form {
  width: 500px;
  margin-left: auto;
  margin-right: auto;
 }

 .btn-blue {
  background: #213CDC;
 }

 #reset-form input {
  border: 1px solid #213DCD;
 }

 @media (max-width: 585px) {
  .form-container {
   width: 99%;
   margin-left: auto;
   margin-right: auto;
  }

  #reset-form {
   width: 99%;
  }
 }

 @media (max-width: 450px) {
.heading {
 font-size: 35px;
}
 }