:root {
    --primary-color: #213DCD;
    --text-color: #213DCD;
    --background: #E5E5E5;
    --background-alt: #dddddd;
    --light: #FAFAFA;
    --placeholder-color: #7E7E7E;
    --text-contrast: #FFFFFF;
    --dark: #000000;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Lato', sans-serif;
}

#wrapper {
    height: 100vh;
    display: flex;
    flex-direction: row;
}

.col {
    width: 50%;
}

.bg {
    background-color: #ffffff;
}

.bg img{
    height: 100%;
    align-content: left;
}

.content {
    text-align: center;
    background-color: #E5E5E5;
}

.content .logo {
    height: 40px;
    width: 150px;
    margin: 0 auto;
}

.content .logo img {
    width: 100%;
}

.content,
.content form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: center;
}

.content form {
    justify-content: center;
    padding: 1rem;
    width: 100%;
}

.content form h2 {
    font-weight: bold;
}

.signin_form input {
    height: 60px;
    width: 456px;
    margin-bottom: 40px;
    border: 1px solid #213DCD;
    background: #FFFFFF;
    margin: 10px 0px;
    border: 1px solid #213DCD;
    padding: 1em; 
    width: 456px;
    height: 60px;
    text-align: left;
    font-size: 14px;
    font-weight: bold;
}

.content form input::placeholder {
    color: var(--placeholder-color);
}

.content form input:focus {
    background-color: var(--background-alt);
}

.signin_form button[type="submit"] {
    outline: none;
    border: 0;
    height: 50px;
    margin: 0.7rem auto;
    width: 456px;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-contrast);
    background-color: var(--primary-color);
    cursor: pointer;
}

.content form button[type="submit"]:hover {
    background-color: var(--text-color);
}

.content form button[type="submit"]:active {
    background-color: var(--dark);
}

.forgotpassword {
    text-align: right;
}

.forgotpassword a:link {
    text-decoration: none;
    color: var(--dark);
    font-weight: bold;
}

.forgotpassword a:visited {
    color: #000000;
}

.forgotpassword a:hover {
    color: var(--dark);
}

.aside_img {
    width: 80%;
}

.account a {
    color: #213DCD;
    text-decoration: none;
}


/* Responsive CSS */
@media only screen and (max-width: 650px) {
    .bg {
        display: none;
    }

    .content {
        width: 100%;
    }
}

