* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: #000000;
}

body {
	font-family: lato;
	height: 100vh;
}

#wrapper {
	width: 100%;
}

header {
	height: 15vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgba(33,60,220,0.1);


}

#headerLogoDiv {
	height: 100%;
	width: 30%;
	margin-top: 20px;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#headerLogo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

#nav {
	width: 60%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	padding-right: 10px;
}

.navLinks {
	padding: 0 15px;
	font-size: 20px;
	font-weight: 600;
	font-style: normal; 
}

#headerButton {
	padding: 0 15px;
	font-size: 20px;
	font-style: normal;
	font-weight: 550;
	background-color: inherit;
	border: none;
}

.alert {
	color: red;
}

#target {
	border-bottom: 3px solid #213DCD;
	margin-top: 2.5px;
}

#form {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin: 25px;
	padding: 10px;
	padding-right: 0;
}

#form input {
	height: 25px;
	width: 250px;
	font-size: 15px;
	font-weight: normal;
	font-style: normal;
	padding-left: 5px;
}

#formButton {
	background-color: #213DCD;
	color: #ffffff;
	height: 25px;
	font-size: 15px;
	padding-left: 10px;
	padding-right: 10px;
	width: 70px;
	cursor: pointer;
}

.logoInBlue {
	color: blue;
}

#focus {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	margin: 25px;
	font-size: 32px;
	font-weight: bold;
	font-style: normal;
}

#main {
	display: flex;
	justify-content: space-between;
	align-items:  ;
	margin: 25px;
	margin-left: 0;
	margin-bottom: 0;
	height: 100%;
}

#left {
	padding-top: 20px;
	display: flex;
	flex-direction: column;
	justify-content: ;
	align-items: center;
	background-color: rgba(33,60,220,0.08);
	border: 1px solid #213DCD;
	width: 25%;
	height: 676px;
}

#leftImgDiv {
    width: 100px;
    height: 100px;
    position: relative;
    overflow: hidden;
    border-radius: 50%;
    margin-bottom: 15px;
}

#img {
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}

#leftButton {
	background-color: inherit;
	border: none;
	margin-bottom: 5px;
	font-size: 16px;
	cursor: pointer;
}

#left p {
	font-size: 20px;
	font-weight: bold;
}

#right {
	display: flex;
	flex-direction: column;
	width: 75%;
	padding: 50px 15px;
}

.rightOutterWrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	border: 1px solid rgba(33,61,205,0.7);
	border-radius: 8px;
	margin-bottom: 15px;
	margin-left: 30px;
	padding: 15px;
	line-height: 30px;
}

.rightOutterWrapper button {
	height: 30px;
	width: 100px;
	padding: 5px;
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
}

.rightInnerWrapper {
	width: 70%;
}

#footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	left: 0;
	bottom: 0;
	height: 100px;
	width: 100%;
	background-color: rgba(33,60,220,0.1);
	color:;

}

#footerLogoDiv {
	height: 100%;
	width: 30%;
	display: flex;
	justify-content: flex-start;
	margin-left: 15px;
	align-items: center;
}

#footerLogo {
	height: 100px;
}

#footerLinks {
	width: 60%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

#footerLinks a {
	margin-right: 15px;
	font-size: 18px;
	font-weight: bold;
	font-style: normal;
}

.right {
	margin-right: 5px;
}

.left {
}

a:hover, button:hover {
	transform: scale(1.05);
}

#headerLogo:hover {
	transform: scale(0.9);
}

@media screen and (max-width:950px) {
	#nav {
		width: 65%;
	}

@media screen and (max-width: 800px) {
	header {
		height: 20%;
	}

	#target {
		margin-top: inherit;
	}

	#nav{
		width: 25%;
		padding-top: 10px;
		padding-bottom: 10px;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;
	}

	.navLinks, #headerButton {
		margin-bottom: 5px;
		align-self: flex-end;
		text-align: right;
		padding-right: 3px;
		padding-left: 3px;
		font-size: 16px;
	}
	
	#main {
		margin-top:;
		flex-direction: column;
	}
	
	#left {
		width: 100%;
		height: 190px;
		background-color: inherit;
		border: none;
	}
	
	#right {
		width: 100%;
	}
	
	.rightOutterWrapper {
		width: 100%;
	}
	
	.rightInnerWrapper {
		width: 75%;
	}
	
	#headerLogo {
		height: 80px;
	}

	#headerButton {
		border: none;
	}

	#focus {
		font-size: 25px;
	}

        #form, #focus, #main {
		width: 100%;
		margin-left: 0;
		margin-right: 0;
        }

	.rightOutterWrapper {
		margin-left: 0;
		margin-right: 0;
		padding: 15px 10px;
	}

	.rightOutterWrapper button {
		width: 60px;
		font-size: 14px;
		padding: 2px;
	}
}

@media screen and (max-width: 768px) {
	#footer {
		height: 180px;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}

	#footerLogoDiv {
		width: 100%;
		height: 20%;
		justify-content: center;
		margin-left: 0;
		margin-top: 10px;
	}

	#footerLinks {
		width: 100%;
		align-self: center;
		flex-direction: column;
		justify-content: center;
		margin:initial;
	}

	#footerLinks a {
		margin-bottom: 5px;
		margin-top: 5px;
	}

	#focus {
		padding-left: 25px;
	}

	#form {
		justify-content: flex-start;
		padding-left: 25px;
	}
	
	#leftButton {
		font-size: 14px;
	}

	#left p {
		font-size: 18px;
	}
}

